@use '../../styles/global.scss' as *;

.home {
  min-height: 100vh;
  background-color: $background-color;

  .carousels {
    padding: 20px 0px;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, transparent, $background-color);
      pointer-events: none;
    }
  }
}